# Library

In [7]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from pytz import timezone
import copy
import pathlib
import pickle

# Local data

## Read local data

In [2]:
data_file = "/le_thanh_van_118/workspace/hiep_workspace/air_quality_index_project/dataset/local_data.csv"

# Read csv
df_local = pd.read_csv(data_file)
print(df_local.columns)
display(df_local)

# Get columns
df_local = df_local.loc[:, ["no2", "so2", "o3", "co", "pm25", "timestamp", "temperature", "humidity", "longitude", "latitude"]]

# Set datetimes
df_local["date"] = pd.to_datetime(df_local["timestamp"], format='mixed')
df_local["date"] = df_local["date"].dt.strftime("%Y-%m-%d %H:%M:%S")
df_local = df_local.drop(columns=["timestamp"])

# Drop missing
print(df_local.isnull().sum())
df_local = df_local.dropna(ignore_index=True)
display(df_local)

Index(['id', 'device_name', 'dataset', 'device_token', 'longitude', 'latitude',
       'aqi', 'no2aqi', 'so2aqi', 'o3aqi', 'pm25aqi', 'pm10aqi', 'coaqi',
       'no2', 'so2', 'o3', 'pm25', 'pm10', 'co', 'timestamp', 'ym', 'ymd',
       'created_at', 'temperature', 'humidity'],
      dtype='object')

,id,device_name,dataset,device_token,longitude,latitude,aqi,no2aqi,so2aqi,o3aqi,...,o3,pm25,pm10,co,timestamp,ym,ymd,created_at,temperature,humidity
0,200334,[KC] Air Quality 3A,aqi_index_mr_nhan,cmvmcxvn,106.590969,10.747755,160,160.0,24.0,49.0,...,0.080,22.0,27.0,0.235,2025-12-08 01:31:47+00,2025_12,2025_12_08,2025-12-13 10:57:21.103167+00,NaN,NaN
1,200335,[KC] Air Quality 3A,aqi_index_mr_nhan,cmvmcxvn,106.590969,10.747755,158,158.0,54.0,3.0,...,0.005,27.0,34.0,0.068,2025-12-08 01:32:49+00,2025_12,2025_12_08,2025-12-13 10:57:21.103167+00,NaN,NaN
2,200336,[KC] Air Quality 3A,aqi_index_mr_nhan,cmvmcxvn,106.590969,10.747755,172,172.0,25.0,90.0,...,0.098,23.0,28.0,0.022,2025-12-08 01:33:49+00,2025_12,2025_12_08,2025-12-13 10:57:21.103167+00,NaN,NaN
3,200337,[KC] Air Quality 3A,aqi_index_mr_nhan,cmvmcxvn,106.590969,10.747755,161,161.0,62.0,2.0,...,0.004,24.0,29.0,0.090,2025-12-08 01:34:50+00,2025_12,2025_12_08,2025-12-13 10:57:21.103167+00,NaN,NaN
4,200338,[KC] Air Quality 3A,aqi_index_mr_nhan,cmvmcxvn,106.590969,10.747755,160,160.0,80.0,31.0,...,0.051,24.0,28.0,0.384,2025-12-08 01:35:49+00,2025_12,2025_12_08,2025-12-13 10:57:21.103167+00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318481,200329,[KC] Air Quality 3A,aqi_index_mr_nhan,cmvmcxvn,106.590969,10.747755,157,157.0,47.0,73.0,...,0.091,25.0,30.0,0.219,2025-12-08 01:26:46+00,2025_12,2025_12_08,2025-12-13 10:57:21.103167+00,NaN,NaN
318482,200330,[KC] Air Quality 3A,aqi_index_mr_nhan,cmvmcxvn,106.590969,10.747755,171,171.0,54.0,3.0,...,0.005,27.0,34.0,0.337,2025-12-08 01:27:47+00,2025_12,2025_12_08,2025-12-13 10:57:21.103167+00,NaN,NaN
318483,200331,[KC] Air Quality 3A,aqi_index_mr_nhan,cmvmcxvn,106.590969,10.747755,166,166.0,30.0,40.0,...,0.066,23.0,28.0,0.058,2025-12-08 01:28:48+00,2025_12,2025_12_08,2025-12-13 10:57:21.103167+00,NaN,NaN
318484,200332,[KC] Air Quality 3A,aqi_index_mr_nhan,cmvmcxvn,106.590969,10.747755,157,157.0,2.0,20.0,...,0.032,26.0,32.0,0.354,2025-12-08 01:29:47+00,2025_12,2025_12_08,2025-12-13 10:57:21.103167+00,NaN,NaN
318485,200333,[KC] Air Quality 3A,aqi_index_mr_nhan,cmvmcxvn,106.590969,10.747755,172,172.0,40.0,93.0,...,0.099,27.0,34.0,0.109,2025-12-08 01:30:47+00,2025_12,2025_12_08,2025-12-13 10:57:21.103167+00,NaN,NaN

no2                 0
so2                 0
o3                  0
co             174468
pm25                0
temperature    132342
humidity       132342
longitude           0
latitude            0
date                0
dtype: int64

,no2,so2,o3,co,pm25,temperature,humidity,longitude,latitude,date
0,0.090,0.084,0.027,0.331,25.0,23.8,76.0,106.591165,10.747680,2025-12-27 00:45:01
1,0.026,0.069,0.017,0.244,25.0,23.8,76.0,106.658202,10.772592,2025-12-27 00:45:00
2,0.495,0.141,0.191,0.185,26.0,24.2,76.0,106.693295,10.785336,2025-12-27 00:45:06
3,0.118,0.131,0.123,0.198,22.0,24.2,76.0,106.693539,10.785294,2025-12-27 00:45:43
4,0.094,0.062,0.157,0.196,27.0,23.8,78.0,106.805775,10.879406,2025-12-27 00:45:44
...,...,...,...,...,...,...,...,...,...,...
11672,0.049,0.096,0.034,0.034,31.0,24.9,89.0,106.591165,10.747680,2025-12-27 15:21:53
11673,0.091,0.028,0.003,0.143,25.0,24.9,89.0,106.658202,10.772592,2025-12-27 15:21:55
11674,0.001,0.012,0.034,0.284,24.0,24.9,89.0,106.591165,10.747680,2025-12-27 15:22:53
11675,0.169,0.105,0.165,0.217,33.0,25.1,87.0,106.693539,10.785294,2025-12-27 15:22:54
11676,0.426,0.057,0.078,0.292,25.0,24.9,89.0,106.590969,10.747755,2025-12-27 15:23:31

## Read station data

In [3]:
kc_station_file = "/le_thanh_van_118/workspace/hiep_workspace/air_quality_index_project/dataset/kc_station.csv"
df_station = pd.read_csv(kc_station_file)
df_station = df_station.iloc[:, [3, 4, 5]]
df_station.columns = ["station_id", "longitude", "latitude"]
df_station

   station_id   longitude   latitude
0         211  106.805775  10.879406
1         211  106.806528  10.879723
2         215  106.693539  10.785294
3         215  106.693448  10.785510
4         215  106.693295  10.785336
5         213  106.590969  10.747755
6         213  106.591165  10.747680
7         216  106.658202  10.772592
8         216  106.659164  10.772787
9         216  106.660690  10.773262

## Merge 2 tables

In [ ]:
# Join 2 tables on lat/lon
df_merged = pd.merge(df_local, df_station, on=['longitude', 'latitude'], how='left')
df_merged = df_merged.drop(columns=["longitude", "latitude"])

# Sort data by station_id then date
df_merged = df_merged.sort_values(by=["station_id", "date"], ascending=True, ignore_index=True)

# Rename columns
column_mapper = {}
for col in df_merged.columns:
    if col in ["date", "station_id"]:
        pass
    elif col == "temperature":
        column_mapper[col] = f"{col.capitalize()}_quantrac"
    elif col == "humidity":
        column_mapper[col] = f"{col.capitalize().replace('ity', '')}_quantrac"
    else:
        column_mapper[col] = f"{col.upper()}_quantrac"
df_merged = df_merged.rename(column_mapper, axis=1)

display(df_merged)
df_merged.to_csv("merged_local_data.csv", index=False)

# 2025-12 data

In [ ]:
data_dir =